 {% extends "base.html" %}
 {% block content %}
 <article class="media content-section" style="text-align: center;">
   <div class="media-body">
     <div class="article-metadata">
       <a class="mr-2" style="font-size: large;"
         href="{{url_for('main.profile',uname=current_user.username)}}">{{ post.users.username }}</a>
       <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
     </div>
     <h2 class="article-title">{{ post.title }}</h2>
     <p class="article-content">{{ post.content }}</p>
     {% if post.users == current_user %}
     <div>
       <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('main.update_post', post_id=post.id) }}">Update</a>
       <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
         <input class="btn btn-danger" type="submit" value="Delete">
       </form>
     </div>
     {% endif %}
   </div>
 </article>
 {% endblock content %}